/* *{
    outline: 2px solid red ;
} */

/*Cookies*/
#cookieFondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
  }
  
  #cajaCookies {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    z-index: 1200;
  }
  
  #cajaCookies h2 {
    margin: 0 0 10px;
  }
  
  #cajaCookies p {
    margin: 0 0 20px;
  }
  
  #cajaCookies button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  #botonRechazarCk{
    background-color: #730202;
    color: white;
  }




body,
html {
    background-color: #0D0D0D;
    margin: 0;
    padding: 0;
    min-height: 3000px;
}

/*Navbar*/
.navbar-custom {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    padding: 10px;
    background-color: #0D0D0D;
    transition: all 0.3s ease;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-custom.expanded {
    top: 0;
    left: 0;
    right: 0;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-logo img {
    max-width: 200px;
    height: auto;
}

.navbar-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav-link {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.nav-link:hover {
    color: #730202 !important;
}

.paginaActiva {
    text-decoration: underline #730202;
    text-underline-offset: 3px;
}

.nav-item {
    padding-right: 20px;
    padding-left: 20px;
}


.navbar-toggler {
    display: none;
    color: white;
    border: none;
    background: transparent;
    font-size: 1.5rem;
}

.navbar-left {
    margin-left: 30px;
}

.navbar-right {
    margin-right: 30px;
}


footer {
    background-color: white;
    height: 200px;
}

.carousel,
.carousel-inner,
.carousel-item {
    height: 100vh;
    /* Ocupa todo el viewport */
}

.carousel-item {
    background-size: cover;
    background-position: center;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
    /* Asegura que está por encima del carousel */
}

.carousel-text h1 {
    font-size: 3rem;
    font-weight: bold;
}

.carousel-text p {
    font-size: 1.5rem;
}

.capaOscura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* Oscurece ligeramente el fondo */
    z-index: 5;
    /* Capa entre el texto y las imágenes del carousel */
}

/* Imagenes Carrousel*/

#Carrousel1 {
    background-image: url('../imagenes/fondo_mac.webp');
}

#Carrousel2 {
    background-image: url('../imagenes/topuria_inicio3.jpeg');
}

#Carrousel3 {
    background-image: url('../imagenes/jonjones_incio5.jpg')
}


/* Pagina Inicio */

.contenido-inicio {
    padding: 50px;
}

.titulo-inicio h2 {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    padding-bottom: 40px;
    color: white;
}

.texto-intro {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 50px;
    color: white;
}



/* Cartas inicio*/
.card {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: white;
    color: #0D0D0D;
    max-height: 230px;
    height: 230px;
}

.card p {
    font-size: 1em;
    font-weight: 500;
}

.card .iconos img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.card .row {
    align-items: center;
    padding: 15px;
}

.card .col-10 {
    padding-left: 20px;
}

/*Titulos cartas*/
.card .row.titulos-cartas {
    padding-bottom: 0;
}
.titulos-cartas h3{
    margin-bottom: 0;
}

.titulo-eventos {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
    color: white;
}

.titulo-posts {
    color: white;
    padding-bottom: 15px;
}

.posts {
    width: 500px;
}

.instagram-media {
    background-color: white;
    color: white;
}

.postprueba {
    width: 500px;
    background-color: white;
}



/*Pagina Hall OF Fame*/

.banner{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #730202;
    z-index: 1070;
    color: white;
    
}
.banner a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.banner img{
    margin: 0;
    object-fit: cover;
}
#quitarBanner{
    position: absolute;
    text-align: center;
    color: red;
    font-weight: 900;
    margin-right:15px ;
    width: 20px;
    border: 0;
    background-color: transparent;
}


.top3 {
    height: 100vh;
    background-color: white;
}

.top3 .container {
    height: 100vh;
}

.titulo-hall {
    padding-top: 130px;
    padding-bottom: 20px;
    background-color: white;
}

.texto-inicio-hall {
    font-size: 1.2em;
}

.cartas-hall .card {
    padding: 0;
    width: 100%;
    max-width: 300px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.cartas-hall .card img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin: 0;
}

.cartas-hall .card-body {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding: 5px 5px;
}


.titulo-resto {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

#evento {
    color: white;
}

#textoEvento {
    color: white;
    font-size: 1.2em;
    padding: 2em;
    padding-bottom: 0;
}

#imagenEvento {
    padding-top: 30px;
    max-width: 70%;
    padding-bottom: 30px;
}

.flechas {
    width: 20px;
    cursor: pointer;
}

#flechaIzq {
    margin-right: 40px;
    transform: rotate(180deg);
}

/* Contacto */
.seccionformulario {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaFormulario {
    height: 55%;
    width: 40%;
    background-color: #0D0D0D;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 80%;
    padding-top: 25px;
}

.inputsForm {
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.botonForm {
    width: 40%;
    color: #0D0D0D;
    background-color: white;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.botonForm:hover {
    background-color: white;
    transform: scale(1.05);
}

.sobreMi {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.elementosCajaSobremi {
    padding: 30px;
    color: white;
}

.listaSobremi {
    list-style: none;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30%;
    font-size: 1.5em;
}

.imagenSobremi {
    border-radius: 8px;
}

.titulo-Gimnasios {
    color: white;
    margin: 40px;
}

.botonesGimnasios {

    width: 100%;
    color: rgba(0, 0, 0, 0.692);
    padding: 10px 10px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.397);
    background: rgb(255, 254, 254);
    overflow: hidden;
    font-size: 1rem;
    font-weight: 600;
    gap: 8px;
    border-radius: 5px;
    transition: 0.2s;
    margin-bottom: 10px;
    border: 1px solid transparent;
}

.botonesGimnasios:hover {
    border-color: rgba(255, 255, 255, 0.623);
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.968),
            rgba(255, 255, 255, 0.87),
            rgba(255, 255, 255, 0.721));
    box-shadow: 0 6px rgba(255, 255, 255, 0.776);
    transform: translateY(-6px);
}

.botonesGimnasios:active {
    transform: translateY(2px);
    box-shadow: none;
}

.botonActivo {
    background-color: red;
}

#ciudadGimnasio {
    color: white;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 2em;
}

.cajasGimnasios {
    width: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 1%;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 8px;

}

.cajasGimnasios h4 {
    margin: 10px 0;
    font-size: 16px;
    /* Tamaño del texto del título */
}

.cajasGimnasios a {
    text-decoration: none;
    color: rgb0rgb(167, 112, 112);
    font-size: 16px;
    /* Tamaño del texto del título */
}


/* Galeria */

.espaciadoGaleria {
    height: 10vh;
}

.divImagenAbierta {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1070;
}

.divImagenAbierta img {

    width: 100%;
}

#botonCerrarImagen {
    position: absolute;
    width: 40px;
    height: 50px;
    top: 15%;
    right: 5%;
    font-size: 30px;
    border: 0;
    border-radius: 10px;
    background-color: rgba(54, 54, 54, 0.6);
    color: white;
}

.flechasGaleria {
    width: 40px;
    height: 50px;
    font-size: 30px;
    border: 0;
    border-radius: 10px;
    background-color: rgba(54, 54, 54, 0.6);
    color: white;
}

#flechaIzqGaleria {
    position: absolute;
    left: 3%;
}

#flechaDerGaleria {
    position: absolute;
    right: 3%;
}

.galeria {

    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    padding: 100px 0;
}

.fotosGaleria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

}

.fotosGaleria:nth-child(1) {
    grid-column-start: span 2;
}

.fotosGaleria:nth-child(4) {
    grid-column-start: span 2;
}

.fotosGaleria:nth-child(5) {
    grid-column-start: span 2;
}

.fotosGaleria:nth-child(8) {
    grid-column-start: span 2;
}

.fotosGaleria:nth-child(9) {
    grid-column-start: span 2;
}

.fotosGaleria:nth-child(12) {
    grid-column-start: span 2;
}

.fotosGaleria:nth-child(13) {
    grid-column-start: span 2;
}

.fotosGaleria:nth-child(15) {
    grid-column-start: span 2;
}


/*Esto es solo para mi ordenador que me da toc que se vea mal por tener una resolucion rara*/
@media(min-width: 1706px) and (max-width: 1708px) {
    .cajaFormulario {
        height: 70%;
        width: 40%;
    }
}


/*Arreglito pantllas fullHD*/
@media(min-width: 1919px) and (max-width: 1921px) {
    
    .card p{
        font-size: 18px;
       }
    
    .texto-inicio-hall {
        font-size: 1.75em;
        padding-bottom: 20px;
    }

    .titulinTop3 {
        font-size: 50px;
    }

    .modal-body p {
        font-size: 1.3em;
    }
    .banner p{
        font-size: 1.3em;
    }

}

/*Arreglito footer pantalla comun*/
@media(min-width: 1439px) and (max-width: 1919px) {
    #footerContacto {
        margin-top: 145px;
    }

    .modal-body p {
        font-size: 1.27em;
    }
    
    .banner{
        padding: 15px;
    }
}

/* Arreglito galeria IpadPro */
@media(min-width: 1023px) and (max-width: 1025px) {




   .card p{
    font-size: 13px;
   }
   .titulos-cartas h3{
        margin-bottom: 0;
   }
   .iconos img{
    width: 100px;
   }
    

    .posts {
        width: 400px;
    }


    .banner{
        padding: 15px;
    }


    .galeria {
        margin: 0 20px;
    }

    .cajaFormulario {
        height: 50%;
        width: 60%;
    }
}

/*Arreglitos Ipad Mini*/
@media(min-width:767px) and (max-width:769px) {
    
    #textoCarousel{
        display: none;
    }

    .cajaFormulario {
        width: 60%;
    }
    .banner{
        height: 120px;
    }
}

@media (min-width:993px)and (max-width: 1025px) {
    .cartasTop3 {
        margin-top: 30% !important;
    }

    .titulo-hall {
        padding-top: 150px;
    }

    .texto-inicio-hall {
        padding-top: 50px;
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {

    .nav-item {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-left,
    .navbar-right {
        flex: 0 0 auto;
        /* Evita que los menús empujen al logo */
    }



    .navbar-custom {
        padding: 5px 10px;
        /* Aumentar el espacio interior del navbar */
        height: auto;
        /* Permitir que el navbar se ajuste dinámicamente */
    }

    .navbar-logo {
        position: relative;
        /* Cambiar a relative para un mejor control */
        top: 0;
        left: 0;
        transform: none;
        /* Eliminar transform para evitar desbordes */
        padding: 5px 0;
        /* Espaciado superior e inferior del logo */
        display: flex;
        /* Mantener centrado con flexbox */
        justify-content: center;
    }

    /* Estilo del menú desplegable */
    .dropdown-menu {
        display: none;
        position: absolute;
        top: 74px;
        left: 0;
        right: 0;
        background-color: #0D0D0D;
        padding: 10px;
        flex-direction: row;
        justify-content: center;
        border-radius: 0;
        border-top-width: 0px;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
    }

    .dropdown-menu.show {
        display: flex;
    }

    .dropdown-menu .nav-link {
        text-align: center;
        padding: 40px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 1rem;
    }

    /* Galeria */

    .galeria {
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .fotosGaleria:nth-child(1) {
        grid-column-start: span 1;
    }

    .fotosGaleria:nth-child(4) {
        grid-column-start: span 1;
    }

    .fotosGaleria:nth-child(5) {
        grid-column-start: span 1;
    }

    .fotosGaleria:nth-child(8) {
        grid-column-start: span 1;
    }

    .fotosGaleria:nth-child(9) {
        grid-column-start: span 1;
    }

    .fotosGaleria:nth-child(12) {
        grid-column-start: span 1;
    }

    .fotosGaleria:nth-child(13) {
        grid-column-start: span 1;
    }

    .fotosGaleria:nth-child(15) {
        grid-column-start: span 1;
    }

}

@media (max-width: 394px) {
    
    .iconosNavbar{
        width: 15px;
    }
   
   
    .dropdown-menu .nav-link {
        text-align: center;
        padding: 15px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 0.65rem;
    }

    .posts{
        width: 250px;
    }

    .card {
        height: 130px;
        width: 130px;
    }
    .card .iconos img {
        width: 90%;
        margin-top: 10px;
    }

    .quitarEnSM{
        display: none;
    }

    #logoCarousel{
        width: 200px;
    }

    #textoCarousel{
        display: none;
    }

    .texto-intro{
        text-align: center;
        font-size: 1.2em;
        padding-bottom: 50px;
        color: white;
    }


    /*Pagina Hall of Fame*/
    #imagenEvento {
        min-width: 350px;
    }

    .imgTop3 {
        width: 100px;
        height: 365px;
        margin: 0;
    }


    .banner{
        width: 100%;
        height: 120px;
    }
    .banner h3{
        padding-top: 10px;
        font-size: 20px;
    }
    .banner p{
        font-size: 0.75em;
    }
    .banner .colImagen{
        margin-top: 20px;
    }

    /* Pagina Contacto*/

    .cajaFormulario {
        height: 65%;
        width: 70%;
    }

    .formulario {
        width: 80%;
        padding-top: 25px;
    }

    .imagenSobremi {
        margin-bottom: 20px;
    }

    .gimnasios {
        padding-bottom: 10px;
    }

    .listaSobremi {

        list-style: none;
        text-align: left;
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 10%;
        font-size: 1.5em;
    }

    .botonesGimnasios {

        width: 90%;
        color: rgba(0, 0, 0, 0.692);
        padding: 10px 10px;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.397);
        background: rgb(255, 254, 254);
        overflow: hidden;
        font-size: 1rem;
        font-weight: 600;
        gap: 8px;
        border-radius: 5px;
        transition: 0.2s;
        margin-bottom: 10px;
        border: 1px solid transparent;
    }

    .cajasGimnasios {
        width: 40%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 1%;
        box-sizing: border-box;
        background-color: #f0f0f0;
        border-radius: 8px;

    }


}